/**
 * CSCI2720/ESTR2106 Course Project
 * A Social Map of Events
 *
 * We declare that the assignment here submitted is original
 * except for source material explicitly acknowledged,
 * and that the same or closely related material has not been
 * previously submitted for another course.
 * We also acknowledge that we are aware of University policy and
 * regulations on honesty in academic work, and of the disciplinary
 * guidelines and procedures applicable to breaches of such
 * policy and regulations, as contained in the website.
 *
 * University Guideline on Academic Honesty:
 *   http://www.cuhk.edu.hk/policy/academichonesty
 * Faculty of Engineering Guidelines to Academic Honesty:
 *   https://www.erg.cuhk.edu.hk/erg/AcademicHonesty
 *
 * Student Name: TANG KING HEI <fill in for all members>
 * Student ID  : 1155126530 <fill in for all members>
 * Date        : 17/12/2022 <fill in yourself>

We have read the article carefully: http://www.cuhk.edu.hk/policy/academichonesty and include the required declaration

Group members:
TANG KING HEI 1155126530
ZIJUN QIU 1155160247
LIU YANG 1155141479
SU ZIE LEE 1155130593
KWAN LONG KIN 1155137891
LAI CHUEN FUNG 115514443
 */

* {
	margin: 0;
	padding: 0;
	font-family: "Arial";
	font-size: 1 rem;
	box-sizing: border-box;
}

.LocationList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.table-container {
	width: 90%;
}

.table-container table {
	border-collapse: collapse;
	width: 100%;
}

table thead {
	background-color: yellowgreen;
}

table th,
table td {
	padding: 10px;
	text-align: left;
	min-width: 100px;
}

table th {
	color: #121212;
}

tr {
	border-bottom: 1px solid #bbb;
}

.search-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #e26d5c;
	padding: 0.5rem;
	border-radius: 0.5rem;
	color: white;
	box-shadow: 0.25rem 0.25rem 0rem #f0b2a8;
	min-width: 90%;
}

.search-container input {
	margin: 0 0.5rem 0 0.5rem;
	min-width: 90%;
	outline: none;
	background-color: #e26d5c;
	color: white;
	border: none;
}

