.container {
    width: 400px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .link_wrapper{
    position: relative;
  }
  
  .link_wrapper a{
    display: block;
    height: 50px;
    /*
    width: 250px;
    line-height: 50px;
    */
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .icon{
    
    width: 50px;
    height: 50px;
    
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  a:hover{
    /*
    width: 200px;
    */
    border: 3px solid #852323;
    background: transparent;
    color: #9c255d;
  }
  
  a:hover + .icon{
    border: 3px solid #36145b;
    right: -25%;
  }
